* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    padding: 0 20px;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    contain: size layout style;
}

.global-nav {}

.nav {
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
    height: 49px;
    margin-right: 16px;
}

.right {
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.items li{
    display: inline-block;
}