* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background: #fff;
    z-index: 1000;
    padding: 0 20px;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    contain: size layout style;
}

.nav .left .location-div{
    display: flex;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    height: 30px;
}

.global-nav .nav {
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}

.nav .left{
    display: flex;
    align-items: center;
}

.nav .left .logo {
    display: block;
    height: 49px;
    margin-right: 16px;
}

.nav .left .logo:hover{
    transform: scale(1.1);
}

.left .location-div{
    display: flex;
    align-items: center;
    margin-left: 30px;
    max-width: 300px;
    padding-right: 11px;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.left .location-div .other{
    border-bottom: 2px solid #3d4152;
    font-weight: 700;
    padding-bottom: 2px;
    color: #3d4152;
}

.left .location-div .other:hover{
    color: #fc8019;
    border-bottom: 2px solid #fc8019;
}

.left .location-div .location{
    font-weight: 300;
    margin-left: 5px;
    padding-left: 5px;
    color: #686b78;
}

.left .location-div .arrow-down{
    margin-left: 5px;
    color: #fc8019;
}

.right {
    position: relative;
}

.right .items{
    display: flex;
}

.right .items li{
    list-style-type: none;
    font-weight: 500px;
    font-size: 16px;
    color: #3d4152;
    margin-right: 36px;
}

.right .items .nav-item{
    display: flex;
    align-items: center;
    padding-left: 28px;
    height: 80px;
    cursor: pointer;
}

.right .items .nav-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #3d4152;
    font-size: 16px;
}

.right .items li:last-child a svg{
    fill: #60b246;
}

.nav-item span{
    padding-left: 11px;
}


/* main section */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 42px;
    position: relative;
    top: 80px;
    left: 10px;
    background: #fff;
}

.item-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.item-bar .number{
    font-size: 28px;
    font-weight: 700;
    color: #3d4152;
}

.item-bar .filters{
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #686b78;
    font-size: 16px;
    cursor: pointer;
}

.item-bar .filters div{
    margin-left: 35px;
}


.restaurant-list{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 85px;
    justify-content: space-between;
    margin-top: 55px;
}

.place-link img{
    width: 260px;
}